/* Contenedor principal de la página de Cursos */
.cursos-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 40px;
    background-color: #f8f8f8;
}

/* Título de la página de Cursos */
.cursos-title {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 20px;
    font-weight: bold;
}

/* Subtítulo o descripción corta debajo del título */
.cursos-subtitle {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 30px;
    font-weight: normal;
}

/* Contenedor de la lista de cursos */
.cursos-lista {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    margin-top: 100px;
    margin-left: auto; /* Alinea hacia la derecha */
    margin-right: auto; /* Alinea hacia la izquierda */
    padding-left: 20px; 
   
}

/* Estilo de cada curso en la lista */
.curso-item {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    text-align: left;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

/* Efecto de hover para los cursos */
.curso-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

/* Título de cada curso */
.curso-item h3 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
    font-weight: bold;
}

/* Descripción breve del curso */
.curso-item p {
    color: #555;
    margin: 5px 0;
    font-size: 1rem;
}

/* Botón de "Ver Detalles" de cada curso */
.detalle-button {
    padding: 8px 12px;
    background-color: #0066ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
    font-size: 1rem;
}

.detalle-button:hover {
    background-color: #004bb5;
}
